In [1]:
import math

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings("ignore")

# List of possible questions that the dataset can explain

0. Why did UN generate this dataset
1. How many variables are the dataset
2. How many instances
3. What are the datatypes of the variables
4. Do they have missing values
6. What the average of all the numerical values
7. When was this dataset generated
8. Why did they make it public
9. What insight could this data provide
10. How are variables correlated between each other

In [3]:
co2_data = pd.read_csv('SYB66_310_202310_Carbon Dioxide Emission Estimates.csv', encoding='latin-1', skiprows=1)

In [4]:
co2_data.head(10)

,Region/Country/Area,Country,Year,Series,Value,Footnotes,Source
0,8,Albania,1975,Emissions (thousand metric tons of carbon diox...,"4,524",NaN,"International Energy Agency, IEA World Energy ..."
1,8,Albania,1985,Emissions (thousand metric tons of carbon diox...,"7,145",NaN,"International Energy Agency, IEA World Energy ..."
2,8,Albania,2005,Emissions (thousand metric tons of carbon diox...,"3,980",NaN,"International Energy Agency, IEA World Energy ..."
3,8,Albania,2010,Emissions (thousand metric tons of carbon diox...,"4,074",NaN,"International Energy Agency, IEA World Energy ..."
4,8,Albania,2015,Emissions (thousand metric tons of carbon diox...,"3,975",NaN,"International Energy Agency, IEA World Energy ..."
5,8,Albania,2018,Emissions (thousand metric tons of carbon diox...,"4,525",NaN,"International Energy Agency, IEA World Energy ..."
6,8,Albania,2019,Emissions (thousand metric tons of carbon diox...,"4,200",NaN,"International Energy Agency, IEA World Energy ..."
7,8,Albania,2020,Emissions (thousand metric tons of carbon diox...,"3,512",NaN,"International Energy Agency, IEA World Energy ..."
8,8,Albania,1975,Emissions per capita (metric tons of carbon di...,1.8,NaN,"International Energy Agency, IEA World Energy ..."
9,8,Albania,1985,Emissions per capita (metric tons of carbon di...,2.3,NaN,"International Energy Agency, IEA World Energy ..."

In [5]:
co2_data.tail(10)

,Region/Country/Area,Country,Year,Series,Value,Footnotes,Source
2254,716,Zimbabwe,2019,Emissions (thousand metric tons of carbon diox...,"12,525",NaN,"International Energy Agency, IEA World Energy ..."
2255,716,Zimbabwe,2020,Emissions (thousand metric tons of carbon diox...,"10,647",NaN,"International Energy Agency, IEA World Energy ..."
2256,716,Zimbabwe,1975,Emissions per capita (metric tons of carbon di...,1.1,NaN,"International Energy Agency, IEA World Energy ..."
2257,716,Zimbabwe,1985,Emissions per capita (metric tons of carbon di...,1.1,NaN,"International Energy Agency, IEA World Energy ..."
2258,716,Zimbabwe,2005,Emissions per capita (metric tons of carbon di...,0.9,NaN,"International Energy Agency, IEA World Energy ..."
2259,716,Zimbabwe,2010,Emissions per capita (metric tons of carbon di...,0.7,NaN,"International Energy Agency, IEA World Energy ..."
2260,716,Zimbabwe,2015,Emissions per capita (metric tons of carbon di...,0.8,NaN,"International Energy Agency, IEA World Energy ..."
2261,716,Zimbabwe,2018,Emissions per capita (metric tons of carbon di...,0.7,NaN,"International Energy Agency, IEA World Energy ..."
2262,716,Zimbabwe,2019,Emissions per capita (metric tons of carbon di...,0.7,NaN,"International Energy Agency, IEA World Energy ..."
2263,716,Zimbabwe,2020,Emissions per capita (metric tons of carbon di...,0.5,NaN,"International Energy Agency, IEA World Energy ..."

What is are the  types of data found in the dataset? 
1. The dataset contains 3  numerical columns which are the  Region/Country/Area , Year and Values 
2. The dataset contains 3 other non numerical columns which are Unnamed: 1 , Series and Source

#Talk about the naming of the Unnamed  1 and why the decision of calling it country

In [6]:
#renaming the Unnamed: 1 to Country 
co2_data.rename(columns= {"Unnamed: 1":"Country"},inplace=True)

In [7]:
#dropping Foot notes columns 

co2_data.drop(columns="Footnotes", inplace=True)

#Why did you drop the foot cotes columns 
The Footnotes  column can be dropped since it contains only Nan values thus it is irrelevant.

Question 01  : What is the number of columns and rows that are present in the dataset ?

In [8]:
#shape of the dataset 
co2_data.shape

(2264, 6)

Question 02  :  The name of columns which are present in the dataset.

In [9]:
co2_data.columns.unique()

Index(['Region/Country/Area', 'Country', 'Year', 'Series', 'Value', 'Source'], dtype='object')

Question 03: What are the datatypes of the dataset and are there missing values

In [10]:
#checking the data types and Missing values of the dataset
co2_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2264 entries, 0 to 2263
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Region/Country/Area  2264 non-null   int64
 1   Country              2264 non-null   object
 2   Year                 2264 non-null   int64
 3   Series               2264 non-null   object
 4   Value                2264 non-null   object
 5   Source               2264 non-null   object
dtypes: int64(2), object(4)
memory usage: 106.2+ KB

## Insights 

1. The dataset seems not to have any missing values. 
2. The datatype for the column Value is object but it should be changed to Float 64 for easy computation.

In [ ]:
#create separate datasets or columns for metric tons per capita and thousan metric tons

In [ ]:
#changing the datatype of Value column to float 
co2_data['Value'] = co2_data['Value'].str.replace(',','').astype(float)

In [ ]:
#statistical description of the dataset
co2_data.describe()

In [ ]:
### Insights from the Statistical description

Question 04: Is there any trend in the co2 emmission ?

In [ ]:
#Checking for the trend in the data 
sns.lineplot(data=co2_data, y='Value',x='Year')
plt.title("Co2 emmission Time Series")
plt.show()

### Observations from the c02 trend line 
1. The amount of co2   emission is increasing

Question 05: what is the distribution of the data ?

In [ ]:
sns.histplot(x= co2_data['Year'],bins=10)
plt.xlabel('Co2 emission')
plt.ylabel('Frequency')
plt.title('Co2 Emission Histogram')
plt.show()

Question 06: Are there nan/Missing  values or Outliers  in the data ?

In [ ]:
#checking for nan values in the data 
co2_data.isna().sum()